dist:     trusty
language: cpp

matrix:
  include:
    - os: linux
      compiler: gcc
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - xorg-dev
            - libudev-dev
            - libopenal-dev
            - libvorbis-dev
            - libflac-dev
            - libfreetype6-dev
            - libjpeg-dev
            - gcc-5
            - g++-5

    - os: osx
      compiler: clang

install:
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then export CXX="g++-5"; fi
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then export CC="gcc-5"; fi
      
script:
    - mkdir build
    - cd build
    - cmake .. -DCMAKE_BUILD_TYPE=Release 
    - cmake --build .
